<li class="card-list__item list-pixabay__item">
    <div class="photo-card list-pixabay__card">
        <img class="card-list__image" src="{{webformatURL}}" alt='{{tags}}' />

        <div class=" list-pixabay__stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>